@font-face {
  font-family: 'SF Distant Galaxy Alternate';
  src: url('./assets/font/SFDistantGalaxyAlternate.woff2') format('woff2'),
  url('./assets/font/SFDistantGalaxyAlternate.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
